/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run josenimo/histo -profile test_cellpose_CK_DAPI,singularity --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name = 'Test profile with Cellpose'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = "${baseDir}/tests/samplesheet.csv"

    // toy_dataset is synthetic, so there are no raw tiles to preprocess.
    use_preprocessing = false

    // Reader
    technology = "toy_dataset"

    // Patches options
    patch_width_pixel = 5000
    patch_overlap_pixel = 50

    // Cellpose segmentation
    use_cellpose = true
    cellpose_diameter = 35
    cellpose_channels = 'CK DAPI'
    flow_threshold = 2
    cellprob_threshold = -6

    // Filtering
    min_area_pixels2 = 2500

    // Aggregation
    aggregate_channels = true
}
